.profile {
  display: flex;
  justify-content: center;
  padding: 56px 24px 80px 24px;
}

.profileWrapper {
  width: 100%;
  max-width: 600px;
}

.avatar {
  width: 100%;
  display: flex;
}

.membership {
  border-left-width: 1px;
  border-left-style: solid;
}

.username {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 1.4;
}

.email {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
