.onboarding {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;

  h1 {
    font-size: 60px;
  }

  .onboardingForm {
    max-width: 400px;
    min-width: 300px;
    text-align: center;
  }
}
