.sidebar {
  @apply hidden lg:flex min-h-screen;
  align-items: center;
  flex-direction: column;
  width: 30%;
}

.inner {
  width: 80%;
  max-width: 300px;
  min-width: 240px;
  max-height: 850px;
  flex: 1 0 auto;
  margin: 72px 32px;
  border-radius: 30px;
  padding: 36px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navSection {
  margin-top: 40px;
  margin-left: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
