.menuBar {
  width: calc(100% - 20px);
  margin: 0 10px;
  position: fixed;
  bottom: 10px;
  display: flex;
  justify-content: center;
}

.icon {
  font-size: 24px;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
  border-radius: 14px;
  // background-color: #111;
  max-width: 400px;
  width: 100%;
}
